*{
    padding: 0;
    box-sizing: border-box;
    border-radius: 0;
}

body{
    background-color: #0E0A21;
    font-family: Nunito;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header{
    background-color: #FFFFFF;
    border-radius: 25px;
    margin-top: 25px;
    height: 40px;
    display: flex;
    align-items: center; 
    width: 100%;
    max-width: 900px;
}

header h1{
    padding-left: 45px;
    font-size: 20px;
    margin-block: 0;
}

main {
    display: flex;
    justify-content: center;
    margin: 25px 35px 0 35px;
}

.container{
    display: flex;
    flex-direction: row;
    gap: 20px;
    max-height: 500px;
    justify-content: center;
}

.foto img{
    border-radius: 25px;
    height: 100%;
}

.perfilHeroi{
    background-color: #FFFFFF;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;
    padding: 0px 35px 0 35px;
    margin-block: 0;
}

.perfilHeroi .nome{
    width: 205px;
    margin-top: 20px;
}

.dados-heroi{
    display: flex;
    flex-direction: row;
    gap: 40px;
    align-items: center;
}

.dados-heroi h1{
    background-color: #DE2226;
    border-radius: 25px;
    color: #FFFFFF;
    writing-mode: vertical-rl;
    text-orientation: upright;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px 8px 0 8px;
    height: 150px;
    margin-block: 0;
    font-size: 15px;
}

.informacoes ul{
    font-size: 12px;
    line-height: 18px;
    padding-right: 9px;
    margin-block: 0;
}

.patente{
    display: flex;
    flex-direction: row;
    gap: 22px;
    align-items: center;
}

.patente img{
    width: 125px;
    height: auto;
}

.patente-dados{
    align-items: center;
    line-height: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.patente h2{
    color: #FFC810;
    font-size: 32px;
    margin-block: 0;
}

.patente p{
    font-size: 15px;
    font-weight: bold;
    color: #0E0A21;
}

.patente h3,
.container h3 {
    background-color: #DE2226;
    border-radius: 25px;
    display: flex;
    justify-items: center;
    align-items: center;
    padding: 7px 25px 7px 25px;
    font-size: 12px;
    color: #FFFFFF;
    margin-block: 0;
}

.container h3{
    background-color: #DE2226;
    border-radius: 25px;
    display: flex;
    justify-items: center;
    align-items: center;
    padding: 7px 25px 7px 25px;
    font-size: 12px;
    color: #FFFFFF;
    margin-block: 0;
    margin-bottom: 20px;
}

footer{
    background-color: #FFFFFF;
    border-radius: 25px;
    margin: 25px 0 25px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 900px;
}

footer h3{
    padding-left: 45px;
    font-size: 15px;
    margin-block: 0;
}

footer p{
    padding-right: 45px;
    font-size: 15px;
    margin-block: 0;
    font-weight: bold;
}